@import 'tailwindcss';

.ant-card {
    @apply !bg-[#162242] border border-[#004279] col-span-3 mx-2 max-[1060px]:col-span-4 max-[1060px]:my-2 max-[810px]:col-span-6 max-[540px]:col-span-full ;
}

.ant-skeleton-paragraph li {
    background-color: rgb(9, 55, 90) !important;
}